@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

.btn {
    color: #444;
    /* background: none; */
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
  
    background-color: white;
    background-image: linear-gradient(to right, rgb(32,178,170), rgb(193, 206, 206));
    backdrop-filter: blur(10px);
  
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  }

  .main {
    background-image: linear-gradient(to right, rgb(32,178,170), rgb(193, 206, 206));
  }
  .section {
    background-image: linear-gradient(to right, rgb(82, 177, 218), rgb(215, 72, 72));
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(200px);
    filter: blur();
  }
   .music {
    background-image: linear-gradient(to right, rgb(32,178,170), rgb(193, 206, 206));
   }

  h1{
    background: linear-gradient(to left, rgb(9, 167, 235), rgb(238, 10, 10));
  }

  .title {
    background-clip:text;
    -webkit-background-clip: text;
    color: rgb(0 0 0 / 20%);
  }